<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" xmlns="">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5"> {{ "assets_overview.asset" | translate }} </h4>
    <p class="mg-b-0">{{ "assets_overview.list" | translate }} </p>
  </div><!-- d-flex -->
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <div class="text-right">
        <a href="#" (click)="massDeleteAsset()" class="btn btn-danger mg-r-10" *ngIf="delete">{{ "globals.mass" | translate }}</a>
        <a routerLink="/assets/add" class="btn btn-success mg-r-10" *ngIf="add">{{ "globals.new" | translate }}</a>
        <a routerLink="/asset_types" class="btn btn-warning  mg-r-10">{{ "assets_overview.manage" | translate }}</a>
        <a routerLink="/locals" class="btn btn-warning mg-r-10">{{ "assets_overview.local" | translate }}</a>
      </div>
      <hr>
      <ag-grid-angular
              style="width: 100%;"
              class="ag-theme-material"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [enableSorting]="true"
              [enableFilter]="true"
              [frameworkComponents]="frameworkComponents"
              rowSelection="multiple"
              [rowMultiSelectWithClick]="true"
              (gridReady)="onGridReady($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
              (gridSizeChanged)="onFirstDataRendered($event)"
              domLayout='autoHeight'
              pagination="true"
              paginationPageSize="10"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
