<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" xmlns="">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5"> Product Classifs</h4>
    <p class="mg-b-0">list of existing  Product Classifs </p>
  </div><!-- d-flex -->
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <div class="text-left">
        <a routerLink="/products" class="btn btn-primary"><i class="fa fa-long-arrow-left fa-lg"><span style="font-family: Roboto, 'Helvetica Neue', Arial, sans-serif">   Products</span></i></a>
        <div class="float-right">
          <a href="#" (click)="massDeleteProductClassif()" class="btn btn-danger mg-r-10" *ngIf="delete">Mass Delete</a>
          <a routerLink="/product_classifs/add" class="btn btn-success" *ngIf="add">Add New</a>
        </div>
      </div>
      <hr>
      <ag-grid-angular
              style="width: 100%;"
              class="ag-theme-material"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [enableSorting]="true"
              [enableFilter]="true"
              [frameworkComponents]="frameworkComponents"
              rowSelection="multiple"
              [rowMultiSelectWithClick]="true"
              (gridReady)="onGridReady($event)"
              domLayout='autoHeight'

      >
      </ag-grid-angular>
    </div>
  </div>
</div>
