/deep/ .ag-cell-focus,.ag-cell-no-focus{
border:none !important;
}
/deep/ .ag-cell:focus{
border:none !important;
outline: none;
}
/deep/ div [col-id="details"] {
  overflow: visible;
}
/deep/ .ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell {
  padding-left: 6px;
  padding-right: 6px;
}
/deep/ .ag-theme-material .ag-cell {
  padding-left: 5px;
  padding-right: 5px;
}
/deep/ mat-tab-group.details {
  margin-left: 50px; overflow:visible; width: 500px; border: 1px solid #673ab7; padding:15px; margin-top: 20px;
}
/deep/ .btn {
  cursor: pointer;
}
/deep/ .details-ag-grid .btn {
  padding: 3px;
}