<div style="overflow: visible">
    <button [class]="'btn btn-link collapsed-toggle details-toggle-'+master_raw_id" (click)="toggleDetails()"><i class="fa fa-angle-down"></i></button>
    <mat-tab-group [id]="'tab-details-'+master_raw_id" class="invisible details" [selectedIndex]="0" dynamicHeight>
        <mat-tab label="Product Classif Subs">
            <div>
                <div class="text-right">
                    <a href="#"  (click)="massDeleteSubs('subs')" class="btn btn-danger btn-sm mg-r-10" >Mass Delete</a>
                </div>
                <ag-grid-angular
                        style="overflow:visible;width:100%"
                        [id]="'details-'+master_raw_id"
                        class="ag-theme-fresh details-ag-grid"
                        [rowData]="subsRowData"
                        [columnDefs]="subsColumnDefs"
                        domLayout='autoHeight'
                        [frameworkComponents]="frameworkComponents"
                        rowSelection="multiple"
                        (gridReady)="onSubsGridReady($event)">
                </ag-grid-angular>
            </div>
        </mat-tab>
        <mat-tab label="Taxes">
            <div>
                <div class="text-right">
                    <a href="#" (click)="massDeleteSubs('taxes')" class="btn btn-danger btn-sm mg-r-10" >Mass Delete</a>
                </div>
                <ag-grid-angular
                        style="overflow:visible;width:100%"
                        [id]="'details-'+master_raw_id"
                        class="ag-theme-fresh details-ag-grid"
                        [rowData]="taxesRowData"
                        [frameworkComponents]="frameworkComponents"
                        [columnDefs]="taxesColumnDefs"
                        domLayout='autoHeight'
                        rowSelection="multiple"
                        (gridReady)="onTaxGridReady($event)">
                </ag-grid-angular>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
