<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" xmlns="">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">{{ 'taxe.tax' | translate }}</h4>
    <p class="mg-b-0">{{ 'taxe.edit' | translate }}</p>
  </div>
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10"> {{ 'taxe.edit' | translate }}</h6>
      <form *ngIf="tax" #f="ngForm" role="form" (ngSubmit)="onSubmit(f);">
        <div class="form-layout-footer mg-b-30 text-right">
          <button class="btn btn-info" type="submit">{{ "globals.sub" | translate }}</button>
          <button class="text-white btn btn-secondary cancel-edit ml-3"
                  (click)="onCancel()">{{ "globals.cancel" | translate }}</button>
        </div>
        <div class="form-layout form-layout-6">
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'taxe.acc' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <select id="select2-c" class="form-control select2-hidden-accessible"
                      aria-hidden="true" name="account_id" #account_id="ngModel" ngModel [ngModel]="tax.account_id">
                <option value="0" selected=""> {{ 'taxe.select' | translate }}</option>
                <option *ngFor="let account of accounts" value="{{account.id}}">{{account.code}}</option>
              </select>
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'taxe.name' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter Branch Name"
                     name="name" #name="ngModel" ngModel [ngModel]="tax.name">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'taxe.init' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="date"
                     name="initial_date" #initial_date="ngModel" ngModel placeholder="Enter Area" [ngModel]="tax.initial_date">
            </div>
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'taxe.final' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="date"
                     name="final_date" #final_date="ngModel" ngModel placeholder="Enter Monthly Interest:" [ngModel]="tax.final_date">
            </div>
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'taxe.purch' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control float-input" min="0"  step="0.01" type="number"
                     name="purchase_pct" #purchase_pct="ngModel" ngModel placeholder="Enter Avg Quantity Months" [ngModel]="tax.purchase_pct">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'taxe.sale' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control float-input" min="0"  step="0.01" type="number"
                     name="sale_pct" #sale_pct="ngModel" ngModel placeholder="Enter Work hours per day" [ngModel]="tax.sale_pct">
            </div><!-- col-8 -->
          </div><!-- row -->
        </div><!-- form-layout -->
        <hr>
        <div class="form-layout-footer mg-t-30 text-center">
          <button class="btn btn-info" type="submit"> {{ 'globals.sub' | translate }}</button>
          <button class="text-white btn btn-secondary cancel-edit ml-3"
                  (click)="onCancel()">{{ "globals.cancel" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
