<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" xmlns="">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">{{ 'usera.user' | translate }} </h4>
    <p class="mg-b-0">{{ 'usera.new' | translate }} </p>
  </div>
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">{{ 'usera.add' | translate }}</h6>
      <form #f="ngForm" role="form" (ngSubmit)="onSubmit(f);">
        <div class="form-layout form-layout-6">
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'usera.name' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter attribute"
                     name="name" #name="ngModel" ngModel>
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'usera.pass' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="password" placeholder="Enter password"
                     name="password" #password="ngModel" ngModel>
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'usera.full' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter full_name"
                     name="full_name" #full_name="ngModel" ngModel>
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
               {{ 'usera.email' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter full_name"
                     name="email" #email="ngModel" ngModel>
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
             {{ 'usera.act' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input type="checkbox"
                     name="active_flag" #active_flag="ngModel" ngModel>
            </div>
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'usera.init' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="date"
                     name="initial_date" #initial_date="ngModel" ngModel placeholder="Enter Area">
            </div>
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'usera.final' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="date"
                     name="final_date" #final_date="ngModel" ngModel placeholder="Enter Monthly Interest:">
            </div>
          </div><!-- row -->

        </div><!-- form-layout -->
        <hr>
        <div class="form-layout-footer mg-t-30 text-center">
          <button class="btn btn-info" type="submit"> {{ 'usera.sub' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
