<div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

  <div class="login-wrapper wd-300 wd-xs-400 pd-25 pd-xs-40 bg-white rounded shadow-base">
    <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> Weprice <span class="tx-normal">]</span></div>
    <div class="tx-center mg-b-40">Sign Up and make use of our platform</div>
    <form #f="ngForm" role="form" (ngSubmit)="onSubmit(f);">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your email" name="email" #email="ngModel" ngModel id="email">
      </div><!-- form-group -->
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter your password" name="password" #password="ngModel" ngModel id="password">
      </div><!-- form-group -->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your username" name="name" #name="ngModel" ngModel id="name">
      </div><!-- form-group -->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your full name" name="full_name" #full_name="ngModel" ngModel id="full_name">
      </div><!-- form-group -->
      <div class="form-group tx-12">By clicking the Sign Up button below, you agreed to our privacy policy and terms of use of our website.</div>
      <button type="submit" class="btn btn-info btn-block">Sign Up</button>
    </form>
    <div class="mg-t-40 tx-center">Already a Member? <a routerLink="/login" class="tx-info">Login</a></div>
  </div><!-- login-wrapper -->
</div><!-- d-flex -->

