<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" xmlns="">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">{{ 'classe.prod' | translate }} </h4>
    <p class="mg-b-0">{{ 'classe.edit' | translate }} </p>
  </div>
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10"> {{ 'classe.edit' | translate }}</h6>
      <form *ngIf="product_classif" #f="ngForm" role="form" (ngSubmit)="onSubmit(f);">
        <div class="form-layout form-layout-6">
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'classe.group' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <select id="select2-a" class="form-control select2-hidden-accessible" data-placeholder="Choose product_group"
                      aria-hidden="true"  name="product_group" #product_group="ngModel" ngModel [ngModel]="product_classif.product_group">
                <option value="0" selected=""> {{ 'classe.raw' | translate }}</option>
                <option value="1"> {{ 'classe.finish' | translate }}</option>
                <option value="2"> {{ 'classe.semi' | translate }}</option>
                <option value="3"> {{ 'classe.res' | translate }}</option>
                <option value="4"> {{ 'classe.pack' | translate }}</option>
              </select>
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'classe.des' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter description"
                     name="description" #description="ngModel" ngModel [ngModel]="product_classif.description">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'classe.init' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input type="checkbox"
                     name="initial_flag" #initial_flag="ngModel" ngModel [ngModel]="product_classif.initial_flag">
            </div>
          </div><!-- row -->
        </div><!-- form-layout -->

        <hr>
        <div class="form-layout-footer mg-t-30 text-center">
          <button class="btn btn-info" type="submit"> {{ 'globals.sub' | translate }}</button>
          <button class="text-white btn btn-secondary cancel-edit ml-3"
                  (click)="onCancel()">{{ "globals.cancel" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
