<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" xmlns="">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">{{ 'producte.prod' | translate }} </h4>
    <p class="mg-b-0"> {{ 'producte.edit' | translate }}</p>
  </div>
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10"> {{ 'producte.edita' | translate }}</h6>
      <form *ngIf="product" #f="ngForm" role="form" (ngSubmit)="onSubmit(f);">
        <div class="form-layout-footer mg-b-30 text-right">
          <button class="btn btn-info" type="submit">{{ "globals.sub" | translate }}</button>
          <button class="text-white btn btn-secondary cancel-edit ml-3"
                  (click)="onCancel()">{{ "globals.cancel" | translate }}</button>
        </div>
        <div class="form-layout form-layout-6">
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.name' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter name"
                     name="name" #name="ngModel" ngModel [ngModel]="product.name">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.des' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter description"
                     name="description" #description="ngModel" ngModel [ngModel]="product.description">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.class' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <select id="select2-c" class="form-control select2-hidden-accessible"
                      aria-hidden="true"  name="product_class_id" #product_class_id="ngModel" ngModel [ngModel]="product.product_class_id">
                <option *ngFor="let product_classif of productClassifs" [value]="product_classif.id" selected="">{{product_classif.description}}</option>
              </select>
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.type' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <select id="select2-b" class="form-control select2-hidden-accessible"
                      aria-hidden="true"  name="type" #type="ngModel" ngModel [ngModel]="product.type">
                <option value="0" selected="">{{ 'producte.simple' | translate }}</option>
                <option value="1">{{ 'producte.comp' | translate }}</option>
              </select>
            </div><!-- col-8 -->
          </div><!-- row -->

          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.group' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <select id="select2-a" class="form-control select2-hidden-accessible" data-placeholder="Choose product_group"
                      aria-hidden="true"  name="product_group" #product_group="ngModel" ngModel [ngModel]="product.product_group">
                <option value="0" selected=""> {{ 'producte.raw' | translate }}</option>
                <option value="1"> {{ 'producte.finish' | translate }}</option>
                <option value="2"> {{ 'producte.semi' | translate }}</option>
                <option value="3"> {{ 'producte.res' | translate }}</option>
                <option value="4"> {{ 'producte.pack' | translate }}</option>
              </select>
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.internal' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter internal_code"
                     name="internal_code" #internal_code="ngModel" ngModel [ngModel]="product.internal_code">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.unit' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter unit"
                     name="unit" #unit="ngModel" ngModel [ngModel]="product.unit">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.currency' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="number" [ngModel]="product.currency_type"
                     name="currency_type" #currency_type="ngModel" ngModel placeholder="Enter currency_type" >
            </div>
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.cost' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control float-input" min="0"  step="0.01" type="number" [ngModel]="product.cost_price"
                     name="cost_price" #cost_price="ngModel" ngModel placeholder="Enter cost_price">
            </div>
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.sale' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control float-input" min="0"  step="0.01" type="number" [ngModel]="product.sale_price"
                     name="sale_price" #sale_price="ngModel" ngModel placeholder="Enter sale_price">
            </div>
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'producte.day' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control float-input" min="0"  step="0.01" type="number" [ngModel]="product.daysterm_recpt"
                     name="daysterm_recpt" #daysterm_recpt="ngModel" ngModel placeholder="Enter daysterm_recpt">
            </div>
          </div><!-- row -->
        </div><!-- form-layout -->
        <hr>
        <div class="form-layout-footer mg-t-30 text-center">
          <button class="btn btn-info" type="submit">{{ 'globals.sub' | translate }}</button>
          <button class="text-white btn btn-secondary cancel-edit ml-3"
                  (click)="onCancel()">{{ "globals.cancel" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
