<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" xmlns="">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">Spots </h4>
    <p class="mg-b-0">Add new Spot </p>
  </div>
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Add a New Spot</h6>
      <form *ngIf="spot" #f="ngForm" role="form" (ngSubmit)="onSubmit(f);">
        <div class="form-layout form-layout-6">
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              Name:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter name"
                     name="name" #name="ngModel" ngModel [ngModel]="spot.name">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              Ip Address:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter ip_address"
                     name="ip_address" #ip_address="ngModel" ngModel [ngModel]="spot.ip_address">
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              Nic Address:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter nic_address"
                     name="nic_address" #nic_address="ngModel" ngModel [ngModel]="spot.nic_address">
            </div><!-- col-8 -->
          </div><!-- row -->
        </div><!-- form-layout -->
        <hr>
        <div class="form-layout-footer mg-t-30 text-center">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
