<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" xmlns="">
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">  {{ 'locale.local' | translate }}</h4>
    <p class="mg-b-0"> {{ 'locale.edit' | translate }} </p>
  </div>
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10"> {{ 'locale.edit' | translate }}</h6>
      <form *ngIf="local" #f="ngForm" role="form" (ngSubmit)="onSubmit(f);">
        <div class="form-layout form-layout-6">
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 col-md-3">
              {{ 'locale.descript' | translate }}
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8 col-md-9">
              <input class="form-control" type="text" placeholder="Enter decription"
                     name="description" #decription="ngModel" ngModel [ngModel]="local.description">
            </div><!-- col-8 -->
          </div><!-- row -->
        </div><!-- form-layout -->
        <hr>
        <div class="form-layout-footer mg-t-30 text-center">
          <button class="btn btn-info" type="submit"> {{ 'locale.sub' | translate }}</button>
          <button class="text-white btn btn-secondary cancel-edit ml-3"
                  (click)="onCancel()">{{ "globals.cancel" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
